body {
  background-image: url("multimedia/img/fondo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

h1 {
  color: black;
  background-color: beige;
  text-align: center;
  font-family: 'Dancing Script'; }

.links {
  background-color: darkkhaki; }

p {
  background-color: beige;
  color: black;
  border: solid 2px black;
  padding: 5px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif; }
