@import '../base/colors';

// .card-text{
//     border: 1px solid $color-texto;
// }
.box .card-text{
    color: $color-texto;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    border: 0px;
    padding: 1px;
    margin: 1px;
    background-color: white;
}
h5{
    text-align: $text-center;
    font-size: 25px;
}
// .box .card-title h5{
//     text-align: center;
// }