$bg-fondo: beige;
$color-texto: black;
$text-center: center;
$medida-texto: 10px;
$medida-titulo: 1,5rem;
$medida-luli: 30px;
$font-titulos: 'Oswald', sans-serif;
$font-titulo-luli: 'Cedarville Cursive', cursive;
// $font-texto: ;